body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: goldenrod;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#content {
    margin-left: 250px;
    padding: 20px;
  }

.header h1,
.header h2 {
    margin: 0;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: grey;
    color: #fff;
    padding: 20px;
    position: fixed;
    box-sizing:border-box;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 50px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.sidebar a:hover {
    color: #3498db;
}

footer {
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    bottom: 0;
    width: 100%;
}


